/*==========  RESPONSIVE  ========== */
@media (max-width: 1400px) {
  #header .logo-b {
    margin-bottom: 80px;
    padding-top: 30px;
  }
  #header .logo-b img {
    width: 400px;
  }
  #header .feature {
    margin-bottom: 60px;
  }
}
@media (max-width: 1199px) {
  .navbar ul.menu-nav li {
    margin-right: 20px;
  }

  #section3 .frame h3 {
    margin-bottom: 20px;
    padding-top: 70px;
  }

  #section6 .child-service:before {
    top: -24px;
  }
}
@media (max-width: 991px) {
  body {
    position: relative;
  }

  .navbar ul.menu-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
  }

  #section3 .frame {
    margin: auto;
    width: 410px;
    background-size: 100%;
  }

  #section6 .child-service:before {
    top: -17px;
  }
  #section6 .btn {
    font-size: 11px;
    padding: 8px 30px;
    text-transform: capitalize;
  }

  .navbar {
    height: 50px;
  }
  .navbar a.logo-s {
    height: 50px;
    width: 50px;
    margin: 15px 15px 0 15px;
  }
  .navbar a.logo-s img {
    width: 80%;
  }
  .navbar ul.menu-nav {
    clear: both;
    float: none;
    display: none;
  }
  .navbar ul.menu-nav li {
    display: block;
    line-height: 1.5;
    float: none;
  }
  .navbar .big-btn {
    height: 30px;
    line-height: 30px;
    width: 150px;
    margin-top: 10px;
  }
  .navbar .btn-nav {
    float: left;
    font-size: 20px;
    background: none;
    border: none;
    margin-top: 15px;
    display: block;
  }

  #section4 .content h3 {
    font-size: 13px;
  }
  #section4 .content p {
    margin: 0 0 15px;
  }

  #section8 {
    overflow: none;
    height: auto;
    background-size: auto 100%;
    padding: 0;
  }
  #section8 h2 {
    font-size: 25px;
  }
  #section8 .phone {
    width: 270px;
    margin: 86px auto 0;
  }
  #section8 .phone img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #header {
    background-size: auto 100%;
    height: auto;
  }
  #header .logo-b {
    margin-bottom: 80px;
    padding-top: 30px;
  }

  /*==========  section3  ========== */
  #section3 .frame {
    margin: auto;
    width: 270px;
    background-size: 100%;
  }
  #section3 h2 {
    font-size: 25px;
  }
  #section3 ul.list li h3 {
    font-size: 18px;
  }
  #section3 ul.list li .price {
    font-size: 30px;
  }

  /*==========  section6  ========== */
  #section6 .child-service {
    width: 270px;
    margin: 60px auto 100px;
  }

  /*==========  section8  ========== */
  #section8 {
    overflow: none;
    height: auto;
    background-size: auto 100%;
    padding: 0;
  }
  #section8 h2 {
    font-size: 25px;
  }
  #section8 .pull-right, #section8 .pull-left {
    float: none !important;
  }

  #section7 .bx-pager {
    display: block !important;
  }
}
@media (max-width: 480px) {
  /*==========  header  ========== */
  .colum {
    width: 100%;
  }

  #header .logo-b img {
    width: 100%;
  }
  #header .feature img {
    width: 50%;
  }
  #header .feature h3 {
    font-size: 12px;
  }

  /*==========  section  ========== */
  .section .h-section h2 {
    font-size: 25px;
  }

  /*==========  section3  ========== */
  #section3 .frame {
    margin: auto;
    width: 270px;
    background-size: 100%;
  }
  #section3 h2 {
    font-size: 25px;
  }
  #section3 ul.list li h3 {
    font-size: 18px;
  }
  #section3 ul.list li .price {
    font-size: 30px;
  }

  /*==========  section5  ========== */
  #section5 .name p {
    margin: 15px 0 0;
  }
  #section5 .name p span {
    margin: 0;
    padding: 15px 0px;
  }
  #section5 .quote span {
    font-size: 14px;
  }
  #section5 .quote span:after, #section5 .quote span:before {
    display: none;
  }

  /*==========  section9 ========== */
  #section9 .bxslider p {
    font-size: 18px;
  }
  #section9 .bxslider span {
    font-size: 13px;
  }

  .bx-controls-direction {
    display: none !important;
  }
}
@media (max-width: 320px) {
  #section7 .bxslider li {
    width: 100% !important;
  }
}
