/*==========  SECTION  ========== */
.section .h-section h2 {
  font-size: 72px;
  font-weight: bold;
}

/* section2 */
#section2 {
  background: url(images/partent.jpg);
}

/*========== END SECTION  ========== */
